name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  yunohost-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: yunohost/ci-action@v1
        with:
          # The ID of the app in the manifest
          app_id: taiga
